
 <div class="row">
        <div class="col-xs-2 ">
        </div>
        <div class="col-xs-8 align-items-center">
          <h3>Suppose you are selecting a house.</h3>
          <ul>
          	
  			<li>The X column contains goodness of the construction of the house.</li>
  			<li>The Y column contains the goodneess of the location of the house.</li>
        <li>Consider X and Y matter equally.</li>
  			<li>Please fill out the last colum with the overall goodness of the house.</li>
		  </ul>
         

        </div>
    </div>


<div class="site-wrapper">

<div class="col-xs-1">
        </div>
        <div class="col-xs-10">
          <%= render 'form', todo: @todo %>
         

        </div>


</div>






<style>

h3{
	text-align: center;
}
body {
 
  text-align: left;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

.align-items-center{
border: 1px solid black;
      }

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	padding-top: 50px;
  text-align: center;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  
}
</style>