
 <div class="row">
        <div class="col-xs-2 ">
        </div>
        <div class="col-xs-8 align-items-center">
          <h3>Suppose you are selecting a house. You want to have a house that is simultaneously well constructed and in a good location.</h3>
          <ul>
          	
  			<li>The CONSTRUCTION column contains the degree of satisfaction with the quality of constuction of the house.</li>
  			<li>The LOCATION column contains the degree of satisfaction with the quality of location of the house. </li>
        <li>Consider that CONSTRUCTION and LOCATION are equally important for you.</li>
        <li>Please carefully select your overall degree of satisfaction with each CONSTRUCTION/LOCATION combination</li>
        <li>You may select any value in the overall satisfaction menu</li>
		  </ul>
         

        </div>
    </div>


<div class="site-wrapper">

<div class="col-xs-1">
        </div>
        <div class="col-xs-10">
          <%= render 'form', todo: @todo %>
         

        </div>


</div>






<style>

h3{
	text-align: center;
}
body {
 
  text-align: left;
}

.align-items-center{

border: 1px solid black;

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	padding-top: 50px;
  text-align: center;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  
}
</style>